$lightBlue: rgb(3, 37, 65);
$lightPink: #E1F5FE;
$videoCardWidth: 255px;
$homeBckHeight: 400px;
$videoCardWidthPhone: 320px;

@mixin phone() {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin theme() {
  [data-theme="deep"] & {
    background-color: $lightBlue !important;
    color: $lightPink !important;
  }

  [data-theme="light"] & {
    background-color: $lightPink !important;
    color: $lightBlue !important;
  }
}

@mixin themeHeaderNotify() {
  [data-theme="deep"] & {
    background-color: $lightBlue !important;
    color: hsla(0, 0%, 100%, .7) !important;
  }

  [data-theme="light"] & {
    background-color: $lightPink !important;
    color: $lightBlue !important;
  }
}

.videoCardSize {
  height: calc($videoCardWidth * 0.56);
  width: $videoCardWidth;

  @include phone {
    height: calc($videoCardWidthPhone * 0.56);
    width: $videoCardWidthPhone;
  }
}